<!doctype html>
<html class="no-js" ng-app="ngmkdev">
  <head>
    <meta charset="utf-8">
    <title>ngmkdev</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- bower:css -->
    <!-- run `gulp wiredep` to automaticaly populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automaticaly insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ui-view class="container">
      <div class="col-xs-2">
        <h2>Деньги</h2>
        <h3 class="money-ok">
          500.0
        </h3>
        <ul class="nav nav-pills nav-stacked">
          <li>
            <a href="#"><i class="glyphicon glyphicon-th-list"></i> Транзакции</a>
          </li>
          <li>
            <a href="#"><i class="glyphicon glyphicon-tasks"></i> Настройки</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6" ng-controller="TransactionsCtrl as transactions_ctrl">
        <h2>Транзакции</h2>
        <form class="form-inline" ng-submit="transactions_ctrl.addTransaction()">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input class="form-control"
                     type="text"
                     placeholder="Сумма"
                     ng-model="transactions_ctrl.newTransaction.amount">
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only"></label>
            <input type="text"
                   class="form-control"
                   placeholder="Описание"
                   ng-model="transactions_ctrl.newTransaction.description">
          </div>
          <button type="submit" class="btn btn-default">Добавить</button>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Сумма</th>
              <th>Дата</th>
              <th>Описание</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions_ctrl.transactions">
              <td>{{transaction.amount}}</td>
              <td>{{transaction.date}}</td>
              <td>{{transaction.description}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <br>
      </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp wiredep` to automaticaly populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automaticaly insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
